<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cantando juntos</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <a href="/" class="navigation-title">Cantando Juntos</a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
        <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <%= if logged_in?(@conn) do %>
              <li class="nav-link">
              <%= link "Agregar canción", to: song_path(@conn, :new) %>
              </li>
              <li class="nav-link">
              <%= link "Salir", to: session_path(@conn, :destroy), method: :delete, form: [style: "display: inline"] %>
              </li>
            <% else %>
              <li class="nav-link">
              <%= link "Login", to: session_path(@conn, :new) %>
              </li>
            <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="main">
      <%= if get_flash(@conn, :info) do %>
        <div class="flash-notice">
          <span><%= get_flash(@conn, :info) %></span>
        </div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <div class="flash-error">
          <span><%= get_flash(@conn, :error) %></span>
        </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
