@charset "utf-8";

@import "normalize";
@import "bourbon";
@import "base/base";
@import "neat";

@import "refills/sliding_panel";
@import "refills/navigation";
@import "refills/flash";


.is-hidden {
  display: none !important;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.page {
  padding: 1em;

  > h1 {
    font-size: 1.5em;
  }
}

.songs-list {
  > li {
    border-bottom: $base-border;
  }

  > li > a {
    display: block;
    padding: 1em;
  }
}

.song {
  padding: 1em;
}

.song-controls {
  @include clearfix;
  margin-bottom: 1em;
  text-align: right;

  @include media($medium-screen-up) {
    float: right;
  }
}

.song-edit-control {
  margin-left: 10px;
  margin-right: 10px;
}

.song-title {
  font-size: 1.5em;
}

.song-phrase {
  border: none;
  padding: 0 0 0.3em;
  margin: 0;
  margin-right: 0.3em;
  border-radius: 0;
  line-height: 100%;
  display: inline-block;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

.song-join {
  margin-left: -0.3em;
}

.song-chord {
  padding-right: 0.3em;
  color: blue;
}

.song-mute {
  color: #ccc;
}

.song-no-lyric .song-chord {
  padding-right: 0;
}

.song-section-header {
  color: #ccc;
  text-transform: small-caps;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5em;
}

.song-section {
  margin-bottom: 1.5em;
}
